<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.username})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            Para su cuenta,  se solicitó un restablecimiento de contraseña, este código de verificación 
            es válido durante una hora. Introdúzcalo en el formulario de restablecimiento de contraseña.
        </p>
        <p>
            <a th:href="@{|${user.resetKey}|}"
               th:text="@{|${user.resetKey}|}">Código de verificación</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">sip-informatica.es</em>
        </p>
    </body>
</html>
